* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250,250,250);
}

#page_title {
    color: lightgray;
    font-family: sans-serif;
}

.period_selected {
    background-color: rgb(215, 228, 237);
}

.btn-default {
    border: solid 1px rgb(207, 212, 207);
}